#page {
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-areas: "nav1 nav1"
                         "head head"
                         "nav  nav"
                         "main main2 "
                         "foot  foot";
    grid-template-rows: 50px 1fr ;
    grid-template-columns: 255px 1fr ;
  }
  
  #page > header {
    grid-area: head;
    background-color: #b31a66;
    color: rgb(240, 236, 231);
    padding-right: 25px;
    padding-left: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


  }
  #page > nav1  {
    grid-area: nav1 ;
    background-color: #310f22;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

  }
  #page > nav  {
    grid-area: nav;
    background-color: #868686;
    height: 50px;
    padding-left: 0px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: right;
    
  }

  #page > main {
    grid-area: main;
    background-color: #ffeffc; 
    height: auto;
    width: 300px;
    padding-right: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: left;
align-items: flex-start;

}
 #page > main2 { 

    grid-area: main2;
    background-color: #c9c2c8;
    width: auto;
    height: auto;

  }
  
  #page > footer {
    grid-area: foot;
    background-color: #310f22; 
    color: rgb(224, 221, 216);
    height: 100px;
    display: flex;
    flex-direction: row;
  }
.box{
height: 100px;
align-items: center;

} 

li {
list-style: none;
padding-right: 25px;
padding-left: 25px;
display:flex;
color: rgb(228, 232, 235);
font-weight: bold;
width: auto;
}

.container-1 {
padding-left: 150px;
vertical-align: middle;
display: flex;
justify-content: flex-end;
align-content: flex-end;
}

.Main-logo {
height: 60px;
background-color:white;
width: 150px;
display: flex;
flex-direction: row;
}


.container-1 input#search{
vertical-align: middle;
position: relative;
padding-left: 50px;
padding right:50px;
width: 500px;
font-size: 10pt;
border-radius: 5px;
height: 50px;
margin-top: 3px;


}

input#buscar {
height: 50px;
width: 150px;
background-color:rgb(235, 60, 127);
vertical-align: middle;
border-radius: 10px;
border: none;
color: firebrick;
font-weight: bold;
margin-top: 3px;
margin-left: 10px;}

#buscar:hover {background-color:rgb(250, 106, 53);
  color: white;
font-weight: bolder;}



.boxImg{
margin-top: 15px;
width: 400px;
height: 450px;
overflow: hidden;
float: left;
margin-left: auto;
margin-bottom: 2px;
display: flex;
}

p {
margin-left: 5px;
font-weight: bold;
font-style: normal;
font-family: Georgia, 'Times New Roman', Times, serif;
color:gray
}

a{text-decoration: none;
color: white;}



.estilo1 {color:rgb(42, 43, 42);
font-size: medium;
font-family:'DM Serif Text', serif;
 }

.foot {color: aliceblue;
font-size: medium;
padding-left: 20px;
}

.caja2 {
position: relative;
align-content: center;
display: flex;
justify-content: flex-start;  

}
.caja3 {
    
    display: flex;
    justify-content: flex-start; 
    background-color: red; 
    width: 200px;
    height: 200px;

    
    }

.Footer-Table {

    height: 50PX;
    width:  33%;
    display: flex;
    background-color:#310f22; 
    flex-direction: row;
    justify-content:row;
    flex-wrap: wrap;
    margin:5px;
    align-items: center
    ;

}


.tabla-main1 {

    height: 400px;
    width:  250px ;
    display: flex;
    background-color:#fdfdfd; 
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 2px;

  }

  .tabla-main2 {

    height: 200px;
    width:  250px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

  }

.tabla-contenido {
    height: auto;
    width:  auto;
    display: flex;
    background-color:rgb(248, 248, 248); 
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin:5px;
    align-items: center
    ;

}

.itemactio2 {
  height: 35px;
  width: 240px;
  display: flex;
  background-color:rgb(152, 157, 163); 
  flex-direction:row;
  flex-wrap: wrap;
  margin: 0.5vh;
  color: ivory;
  font-size: small;
padding-left: 25px;
padding-top:  8px;
border-radius: 5px;

}

.itemactio2:hover{background-color:coral;
  color: white}

.tabla-Block1 {
  height: auto;
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin:5px;
  align-items: center
  ;

}

    
    .DIVBLOCK{
    height: 429;
    width:  165px;
    display: flex;
    background-color:lightpink; 
    flex-direction:row;
    flex-wrap: wrap;
    margin: 5px;
    align-content:flex-end;
    justify-content:center;
    justify-items: center;
  
}

    .Libroitem {
    height: 250px;
    width:  250px;
    display: flex;
    background-color:white; 
    flex-direction:row;
    flex-wrap: wrap;
    margin: 1vh;
    align-items: center;
    justify-content: center;
   
    
    }

.imgitem {
    height: 174px;
    width:  155px;
    display: flex;
    background-color:lightblue; 
    flex-direction:row;
    flex-wrap: wrap;
    margin: 1vh;
}
.itemaction {
  height: 35px;
  width: 156px;
  display: flex;
  background-color:rgb(97, 62, 161); 
  flex-direction:row;
  flex-wrap: wrap;
  margin: 1vh;
  color: ivory;
  font-size: small;
padding-left: 20px;
text-align: center;
justify-items: center;


padding-top:  8px;
border-radius: 5px;

}

.itemaction:hover{background-color:coral;
color: white}
.caja {
 
height: 100px;
width: 100px;
background-color: lightcoral;
}