#page {
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-areas: "nav1 nav1"
                         "head head"
                         "nav  nav"
                         "main main2"
                         "foot  foot";
    grid-template-rows: 50px 1fr ;
    grid-template-columns: 300px 1fr ;
  }

  #page > header {
    grid-area: head;
    background-color: #b31a66;
    color: rgb(240, 236, 231);
    padding-right: 25px;
    padding-left: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


  }
  #page > nav1  {
    grid-area: nav1 ;
    background-color: #310f22;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

  }

  #page > nav  {
    grid-area: nav;
    background-color: #868686;
    height: 50px;
    padding-left: 0px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: right;
    
  }

  #page > main {
    grid-area: main;
    background-color:  #7e0340; 
    height: auto;
    width: 300px;
    padding-right: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

                       

                            .container1 {
                                width: auto;
                                height: auto;    
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                flex-direction: column;
                               align-items: center;
                               justify-content: center; 
                                                             
                             }

                                .Descripcion {
                                    width: auto;
                                    height: auto;    
                                    background-color:rgb(234, 228, 235);
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    flex-direction: column;
                                    align-content: center; 
                                padding-right: 20vh;
                                padding-left: 5vh;
                                padding-top: 3vh;
                                font-family:Arial, Helvetica, sans-serif;
                                text-align: justify;
                                
                            }


                            
                            #page > main2 { 

                              grid-area: main2;
                              background-color: #beae16;
                              width: auto;
                              height: auto;
                          
                            }
                            .Container3 {
                            margin-top: 5vh;
                            max-width: auto;
                            height: auto; 
                            display: flex;
                            
                            
                            }
                        
                         
  
                            #page > footer {
                              grid-area: foot;
                              background-color: #310f22; 
                              color:none
                              height: 100px;
                              display: flex;
                              flex-direction: row;
                            }

                            .Container3 table {
                                text-align:left;
                                background-color:none;
                                margin-top: 0.5rem;
                                margin-left: 0.5rem;
                                margin-right: 0.5rem;
                                border-radius: 0.1rem;
                                color: lightcyan;
                            }
.Main-logo {                  height: 60px;
                              background-color:white;
                              width: 150px;
                              display: flex;
                              flex-direction: row;
                              }

                              .container-1 {
                                padding-left: 150px;
                                vertical-align: middle;
                                display: flex;
                                justify-content: flex-end;
                                align-content: flex-end;
                                }

                                .container-1 input#search{
                                  vertical-align: middle;
                                  position: relative;
                                  padding-left: 50px;
                                  padding right:50px;
                                  width: 500px;
                                  font-size: 10pt;
                                  border-radius: 5px;
                                  height: 50px;
                                  margin-top: 3px;
                                  
                                  
                                  }
                                  
                                  input#buscar {
                                  height: 50px;
                                  width: 150px;
                                  background-color:rgb(235, 60, 127);
                                  vertical-align: middle;
                                  border-radius: 10px;
                                  border: none;
                                  color: firebrick;
                                  font-weight: bold;
                                  margin-top: 3px;
                                  margin-left: 10px;}
                                  
                                  #buscar:hover {background-color:rgb(250, 106, 53);
                                    color: white;
                                  font-weight: bolder;}

                                  li {
                                    list-style: none;
                                    padding-right: 25px;
                                    padding-left: 25px;
                                    display:flex;
                                    color: rgb(228, 232, 235);
                                    font-weight: bold;
                                    width: auto;
                                    }
                                  
                                    .Footer-Table {

                                      height: 50PX;
                                      width:  33%;
                                      display: flex;
                                      background-color:#310f22; 
                                      flex-direction: row;
                                      justify-content:row;
                                      flex-wrap: wrap;
                                      margin:5px;
                                      align-items: center
                                      ;
                                  
                                  }

                                  .SobreElAutor{
                                    width: auto;
                                    height: auto;    
                                    background-color:rgb(255, 255, 255);
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    flex-direction: column;
                                    align-content: center; 
                                padding-right: 20vh;
                                padding-left: 5vh;
                                padding-top: 3vh;
                                font-family:Arial, Helvetica, sans-serif;
                                text-align: justify;
                                

                                  }

                                  .foot {color: aliceblue;
                                    font-size: medium;
                                    padding-left: 20px;
                                    }

                                    
                                    .itemaction {
                                      height: 35px;
                                      width: 156px;
                                      display: flex;
                                      background-color:rgb(97, 62, 161); 
                                      flex-direction:row;
                                      flex-wrap: wrap;
                                      margin: 1vh;
                                      color: ivory;
                                      font-size: small;
                                    padding-left: 10px;
                                    padding-top:  8px;
                                    border-radius: 5px;
                                    justify-content: center; 
                                    margin-left: 55px; 
                                   
}
                                    
                                    .itemaction:hover{background-color:coral;
                                    color: white}
                                    .caja {
                                     
                                    height: 100px;
                                    width: 100px;
                                    background-color: lightcoral;
                                    }
                                    

                           